.wrapper {
    margin: 0px auto 100px auto;
    width: 75%;
    max-width: 1024px;

    .home {
        padding: 20px;
        width: 100%;
        height: max-content;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    }
    
    .loading {
        width: 100%;
        text-align: center;
    }
}
