.reply {
    width: 100%;

    img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    > div {
        display: flex;
        padding: 10px 20px;
        color: rgba(0, 0, 0, 0.65);
        border: 1px solid #ebedf0;
        border-bottom: 0px;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            p {
                margin: 0;
                width: 100%;
            }
            .info {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
               
                .thumbs {
                    width: 40px;
                    font-size: 15px;
                    img {
                        position: relative;
                        top: -1px;
                        margin-right: 5px;
                        width: 12px;
                        height: 15px;
                        transform: rotate(-15deg);
                    }
                }
            }
        }
    }
    > div:first-child {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.85);
    }
    > div:last-child {
        border-bottom: 1px solid #ebedf0;
    }
}